@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Bestätigung der Passwortrücksetzung";
}

<h1>@ViewData["Title"]</h1>
<p>
    Bitte prüfen Sie Ihre E-Mails, um Ihr Passwort zurückzusetzen.
</p>
