@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Bestätigung des Passwort-Resets";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ihr Passwort wurde zurückgesetzt. Bitte <a asp-page="./Login">klicken Sie hier, um sich anzumelden</a>.
</p>
