[Unit]
Description=photon

[Service]
WorkingDirectory=/root
ExecStart=/usr/bin/java -jar /root/photon-0.3.5.jar

Restart=always
# ahrensburg-digital
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=photon
User=root

[Install]
WantedBy=multi-user.target