@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-5xl;
        font-family: 'Arial', sans-serif;
    }
    h2 {
        @apply text-4xl;
        font-family: 'Arial', sans-serif;
    }
    h3 {
        @apply text-3xl;
        font-family: 'Arial', sans-serif;
    }
    h4 {
        @apply text-2xl;
        font-family: 'Arial', sans-serif;
    }
    h5 {
        @apply text-xl;
        font-family: 'Arial', sans-serif;
    }
    h6 {
        @apply text-lg;
        font-family: 'Arial', sans-serif;
    }
    p {
        @apply text-base;
        font-family: 'Arial', sans-serif;
    }
    pre {
        @apply text-sm border rounded;

    font-family: 'Arial', sans-serif;
    width: 100;
    overflow-x: auto;
    overflow-y: auto;
    }
  
}